.typing{
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(40);
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 82%;
    }
  }

  #greeting
  {
    color : #355C7D;
    font-family: 'Open Sans', sans-serif;
    margin-left: 18%;
    margin-top: 4%;
  }
  